* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}
body {
  font-family: Arial, Helvetica, sans-serif;
  user-select: none;
  width: 500px;
}
ul,
li {
  list-style: none;
}
header {
  margin: 15px;
}
header h1,
header h2 {
  text-align: center;
}
header h1 {
  display: flex;
  justify-content: center;
  gap: 5px;
  align-items: center;
}
header p {
  font-size: 14px;
  text-align: center;
  font-weight: bold;
  margin: 10px;
  font-style: italic;
  color: #808080;
}
header div {
  text-align: center;
}
header button {
  border: none;
  color: white;
  overflow: hidden;
  margin: 0.2rem;
  font-size: 12px;
  text-transform: uppercase;
  width: 90px;
  height: 20px;
  cursor: pointer;
}
header button#refresh-list {
  background-color: #00897b;
}
header button#refresh-list:hover {
  background-color: #03a898;
  transition: background-color 0.1s ease;
}
header button#clear-list {
  background-color: #e94043;
}
header button#clear-list:hover {
  background-color: #ec8082;
  transition: background-color 0.1s ease;
}
main {
  border-top: 1px solid #d7d7d7;
  padding-top: 10px;
  text-align: center;
  margin: 10px;
  max-height: 500px;
  overflow-y: auto;
}
main li {
  font-size: 16px;
  margin-bottom: 10px;
}
main li span.applied_at {
  font-weight: bold;
}
main li a.url {
  color: black;
  text-decoration: none;
}
